name: Python Linting
on: push

jobs:
  lint:
    name: Run flake8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ricardochaves/python-lint@v1.3.0
        with:
          python-root-list: "."
          use-pylint: false
          use-pycodestyle: false
          use-flake8: true
          use-black: false
          use-mypy: false
          use-isort: false
          extra-pylint-options: ""
          extra-pycodestyle-options: ""
          extra-flake8-options: "--config .flake8"
          extra-black-options: ""
          extra-mypy-options: ""
          extra-isort-options: ""